body{
	font-family: 'Roboto', sans-serif;
	border-right: 1px solid $white;
}

nav{
	background-color: transparent !important;
	box-shadow: none;
}
nav{
	ul{
		a.active{
			background-color: rgba(0,0,0,0.2);
		}
	}
}

.container-navbar{
	color: $letra;
	@include background();
	background-image: url(../img/bg1.jpg);
	width: 100%;
	height: 100vh;
	padding-top: 4%;

}

header{
	margin-top: 12%;
	color: $white;
}

.fotografia{
	@include padding();
	background-color: $plomo;
	img{
		height: 60vh;
	}
}

.diseño{
	padding-left: 5%;
	padding-top: 9%;

	h4{
		color: $letra;
	}
}

.comunidad{
	background-color: $plomo;
	@include padding();
	text-align: center

}

.descarga{
    background-color: $plomo;
    padding-top: 60px;
    padding-bottom: 60px;
    h3 {
        font-size: 14px;
    }
}

footer{
	color: $black;
	@include padding();
	a{
		border-right: 3px solid $letra;
		padding-right: 12px;
		color: $black;
	}
}